:root{
    --rose: #ff5959;
    --poppins: 'poppins', sans-serif;
}

body{
    font-family: var(--poppins);
    font-size: 17px;
    font-weight: 50;
    margin: 0;
}

.top-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1),rgba(255, 255, 255, 0.1)), url("image/ab.jpg");
    padding:100px 20%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-family: 'Gabarito', cursive;
    font-size: 60px;
    color:aliceblue;
    font-weight: 100;
    top: center;
    text-align: center;
}
.btn {
    text-decoration: none;
    background-image: linear-gradient(to bottom, #E9B824, #EE9322);
    padding: 5px 20px;
    color: #fff;
    border-radius: 7px;
}
.btn:hover{
    background-image: linear-gradient(to bottom,#fc635f,#f78c6b); 
}
.a{
    color: aliceblue;
    font-size: 10px;
    text-align: center;
}

  .des{
    text-align: center;
    color: #f78c6b;
  }
  .btn{
    text-decoration: none;
    background-color: var(--rose);
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
  }
  .section-title{
    padding: 15px 25%;
    text-align: center;
  }
  
.donate-amount-boxes{
    display: flex;
    text-align: center;
    gap: 10px;
    justify-items: center center;
  }
  
.donate-amount-boxes h3{
    background-color: #b0a0a0;
    padding: 25px;
    font-size: 30px;
    color: rgb(26, 121, 153);
    border-radius: 5px;
  }
  
  input.other-amount {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #dadada;
    width: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 2;
    color: #ddd !important;
    font-family: 'Poppins';
  }
  
  form .btn {
    border: none;
    font-size: 18px;
    font-family: 'Poppins';
    margin-top: 15px;
  }
 
  .b{
    font-size: 35px;
    color: black;
    text-align: center;
    padding: 5px;
}
.c{
    font-size: 15px;
    color: black;
    text-align: center;
}
.d{
    display: flex;
}
.e{
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    padding:5%;
    margin: 30px;
    background-color: azure;
}
.f{
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    padding:5%;
    margin: 30px;
    background-color: azure;
}
.g{
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
    padding:5%;
    margin: 30px;
    background-color: azure;
}